/*------------------------------------------------------------
banner
------------------------------------------------------------*/

/*
------------------------------------------------------------*/



.c-banner {
    &__caption {
        z-index: 12;
        position: absolute;
        bottom: calc(6rem - 10px);
        left: 0;
        color: #fff;

        @include xl {
            padding: 0 15px;
        }

        @include sp {
            bottom: calc(3rem - 5px);

            img {
                width: 97%;
            }
        }

        p {
            width: 562px;
            height: 35px;
            margin-top: 35px;
            border-radius: 3px;
            background: rgba(255, 255, 255, 0.2);
            font-weight: bold;
            font-size: 2rem;
            line-height: 35px;
            text-align: center;

            @include sp {
                width: auto;
                font-size: 1.6rem;
                height: 25px;
                line-height: 25px;
            }
        }
    }

    &__about {
        background-image: url("/assets/img/about-banner.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__contact {
        background-image: url("/assets/img/contact_banner.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__info {
        position: relative;
        min-height: 400px;

        @include xs {
            min-height: 200px;
        }
    }

    &__title {
        position: absolute;
        bottom: 42px;
        width: 100%;
        color: #fff;
        text-align: center;
        font-family: $franklin-font;

        h1 {
            font-size: 4.2rem;
            line-height: 5.5rem;
            text-transform: uppercase;
            font-weight: 700;

            @include xs {
                font-size: 2.8rem;
            }
        }

        p {
            display: block;
            font-size: 2.4rem;
            line-height: 3.6rem;
            font-weight: bold;

            @include xs {
                font-size: 1.8rem;
            }
        }
    }
}
