/*------------------------------------------------------------
information
------------------------------------------------------------*/

/*
------------------------------------------------------------*/

.c-information {
    background-image: url("/assets/img/info-bg.png");
    background-repeat: repeat;
    padding-top: 50px;
    padding-bottom: 80px;

    @include sp {
        padding-top: 35px;
    }

    @include xs {
        padding-bottom: 45px;
    }

    &__heading {
        text-align: center;
    }

    &__top {
        text-align: center;
    }

    &__sub {
        text-align: center;
        margin-top: 43px;
        font-size: 14px;
        line-height: 25px;

        @include xs {
            margin-top: 25px;

            span {
                display: block;
            }
        }
    }

    &__list {
        margin-top: 46px;
        display: inline-block;
        width: 100%;

        @include xs {
            margin-top: 25px;
        }
    }

    &__item {
        display: inline-block;
        width: 48.75%;
        margin-right: 2%;
        margin-bottom: 39px;

        @include lg {
            width: 100%;
            margin-right: 0;
        }

        @include xs {
            margin-bottom: 25px;
        }

        &:nth-child(2n) {
            margin-right: 0;
        }
    }

    &__item-inner {
        display: flex;

        @include lg {
            justify-content: center;
        }
    }

    &__item-img {
        max-width: 320px;
        width: 100%;

        @include xs {
            width: 63%;
        }

        img {
            width: 100%;
            border: 4px solid #fff;
            object-fit: cover;

            @include xs {
                border: 2px solid #fff;
                height: 125px;
            }
        }
    }

    &__item-detail {
        max-width: 285px;
        width: 100%;
        margin-top: 25px;
        margin-left: -37px;
        padding: 18px 16px 30px 18px;
        background-color: #fff;
        box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35);
        position: relative;
        z-index: 1;
        

        @include xs {
            width: 63%;
            margin-top: 14px;
            margin-left: -40px;
            padding: 10px 6px 20px 11px;
            box-shadow: 2px 3px 7px 0 rgba(0, 0, 0, 0.35);
        }

        span {
            display: block;

            @include xs {
                display: inline;
            }
        }

        h3 {
            font-weight: bold;
            font-size: 1.8rem;
            @include xs {
                font-size: 1.4rem;
                letter-spacing: -0.5px;
                line-height: 20px;   
            }
        }
    
        small {
            font-size: 1.2rem;
            font-weight: 400;
            margin-top: 2px;
            display: block;
            @include xs {
                font-size: 1.1rem;
                line-height: 1;
                margin-bottom: 3px;
                margin-top: 4px;
            }
        }

        p {
            margin-top: 12px;
            margin-bottom: 25px;
            color: #00ada0;
            font-weight: bold;
            font-size: 14px;
            letter-spacing: -0.5px;
            @include xs {
                font-size: 1.2rem;
                line-height: 1.8rem;
                margin-top: 0;
                margin-bottom: 10px;
            }
        }
    }

    &__tag {
        padding: 2px 8px;
        border-radius: 10px;
        background-color: #ccc;
        font-size: 1.2rem;
        display: inline !important;

        @include xs {
            font-size: 1.1rem;
        }
    }

    .button-container {
        margin-top: -3px;
    }

    .c-button {
        margin-top: -5px;

        @include xs {
            margin-top: 10px;
        }
    }
}
