/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/


.u-red {
    color: #f00;
}

.u-w100 {
    width: 100% !important;
}

.u-mr0 {
    margin-right: 0 !important;
}

.u-mt2 {
    margin-top: 15px;
}
