///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
//.u-anchor:before {
//	content:"";
//	margin-top: -100px;
//	padding-top: 100px;
//}

//------------------------------------------------------------
// margin
//------------------------------------------------------------

//------------------------------------------------------------
// color
//------------------------------------------------------------


.c-only {
    &__pc {
        @include sp {
            display: none;
        }
    }
}

.c-only {
    &__sp {
        display: none;
        @include sp {
            display: block;
        }
    }
    
}
