<footer class="c-footer">

    <div class="c-footer__scroll">
        <a href="#"><img src="/assets/img/totop.png" alt="#"></a>
    </div>

    <div class="c-footer__inner">

        <div class="l-container">

            <div class="c-footer__left">

                <p class="c-footer__logo"><a href="./"><img src="/assets/img/f_logo.png" alt="愛媛シゴト図鑑"></a></p>

                <p class="c-footer__ttl">【運営】株式会社愛媛経済レポート</p>

                <p class="c-footer__address"><span>〒790-0011</span>　愛媛県松山市千舟町4丁目5-4　松山千舟454ビル5F</p>

            </div>

            <div class="c-footer__center">

                <p class="c-footer__txt">掲載企業に関するご質問や資料請求などお気軽にご相談ください｡</p>

                <p class="c-footer__tel c-only__pc"><span>TEL.</span>089-947-1411</p>

                <p class="c-footer__tel c-only__sp"><span>TEL.</span><a href="tel:089-947-1411">089-947-1411</a></p>

                <p class="c-footer__time"><span>受付時間</span>9:00〜17:00（平日のみ）</p>

            </div>

            <div class="c-footer__right">

                <a href="./contact/">お問い合わせはこちら</a>

                <a href="#">掲載・取材依頼の企業様へ</a>

            </div>

        </div>

    </div>



    <div class="c-footer__copyright">

        ©2018 Ehime Keizai Report Inc,

    </div>

</footer>