<header class="c-header">

  <div class="l-container">

    <div class="c-header__link">

      <a href="#">掲載･取材依頼の企業様へ</a>

    </div>

    <div class="c-navigation">

      <div class="c-header__logo">

        <a href="./">

          <img src="/assets/img/logo.png" alt="シゴト図鑑">

        </a>

      </div>

      <ul>

        <li><a href="#">企業一覧</a></li>

        <li><a href="./about.html">愛媛シゴト図鑑とは</a></li>

        <li><a href="#">インタビュー</a></li>

        <li><a href="#">ニュース</a></li>

        <li><a href="./contact.html">お問い合わせ</a></li>

      </ul>

      <div class="c-navigation__link-sp">
        <div class="c-navigation__item-sp item-contact">
            <a href="contact.html">
                <img src="/assets/img/sp-icon1.png" alt="icon">
                <p>お問い合わせ</p>
            </a>
        </div>
        <div id="btnShowMenu" class="c-navigation__item-sp item-menu">
            <a href="#">
            </a>
        </div>
      </div>
    </div>

    <div class="c-menu__sp">

      <ul>
        <li><a href="#">ホーム</a></li>

        <li><a href="#">企業一覧</a></li>

        <li><a href="./about.html">愛媛シゴト図鑑とは</a></li>

        <li><a href="#">インタビュー</a></li>

        <li><a href="#">ニュース</a></li>

        <li><a href="#">運営会社</a></li>

        <li><a href="./contact.html">お問い合わせ</a></li>

      </ul>

      <div class="c-menusp__contact">

        <p class="c-menusp__tel"><span>TEL.</span>089-947-1411</p>

        <p class="c-menusp__time">受付時間9:00〜17:00(平日のみ)</p>

      </div>

      <div class="c-menusp__link">

        <a href="#">掲載･取材のご依頼についてはこちら</a>

        <a href="#">プライバシーポリシー</a>

        <a href="#">利用規約</a>

        <a class="c-menusp__close"><span><i class="fa-solid fa-xmark"></i></span> 閉じる</a>

      </div>
    </div>

  </div>

</header>